body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
}


header{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: antiquewhite;
    background-color: black;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 55px;
}

.header-text{
    display:inline;
    font-size: 32px;
    width: 55%;
}

.header-text a{
    background-color: tomato;
    color: #fff;
    padding: 14px 22px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 45px;
    text-decoration: none;
    font-family: inter, sans-serif;
    letter-spacing: .4px;
    font-size: 17px;
    animation-name: buttonanimation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

@keyframes buttonanimation {
    from {background-color: green;}
    to {background-color: red;}
  }



.header-description{
    font-size: 14px;
}

.header-image img{
    width: 100%;
    margin-bottom: -6px;
}

.header-image{
    width: 45%;
    position: relative;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 80%;
    justify-content: left;
}


.leftbar{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2px;
    align-items: center;
    justify-items: center;
    background-color: #161616;
    border-radius: 10px;
    width: 20%;
    margin-right: 5px;
    padding-top: 15px ;
    padding-bottom: 15px;
}

.selected{
    background-color: #DD0000;
    border-radius: 7px;
    color: #fff;
    width: 70%;
    padding: 10px 10px;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: inter, sans-serif;
    letter-spacing: .4px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
}

.unselected{
    background-color: #fff;
    border-radius: 7px;
    color: #161616;
    width: 70%;
    padding: 10px 10px;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: inter, sans-serif;
    letter-spacing: .4px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
}

.rightbar{
    width: 80%;
}

.transfers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 15px;
}

.transfer .transfer-banner img{
    width: 100%;
    height: 150px;
}

.transfer{
    border: 1px solid rgb(204, 202, 201);
    border-radius: 7px;
}

.match{
    border: 1px solid rgb(204, 202, 201);
    border-radius: 7px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.match img{
    width: 20%;
}

.match-banner{
    display: flex;
    widows: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.transfer-detail{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.match-detail{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.match-title{
    display: flex;
    justify-content: center;
}

.timing-info{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: gray;
}

.transfer-author{
    display: inline;
    border: 1px solid #161616;
    padding: 2px 12px;
    border-radius: 4px;
    font-size: 10px;
    width: 15%;
}

.transfer-info{
    display: flex;
}

.rating{
    padding-right: 25px;
    font-size: 11px;
}

.transfer-duration{
    font-size: 11px;
}

.hidden-button{
    display: none;
    justify-content: center;
    grid-column: 5;
    margin-top: 50px;
}
.hidden-button a{
    background-color: tomato;
    color: #fff;
    padding: 14px 22px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 45px;
    text-decoration: none;
    font-family: inter, sans-serif;
    letter-spacing: .4px;
    font-size: 17px;
}
footer{
    background-color: #161616;
    margin-top: 115px;
    max-height: calc(100vh+40px); 
    position: absolute;
    width: 100%;
}

.footer-text{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    color: azure;
    padding-bottom: 30px;
    padding-top: 45px;
}

hr{
    color: aqua;
    width: 60%;
}

.footer-flex{
    display: flex;
    column-gap: 1px;
    justify-content: center;
    margin-top: 40px;
}

.footer-flex a{
    color: rgb(248, 245, 250);
    text-decoration: none;
    padding-left: 15px;
    font-size: 12px;
}

.footer-flex a:hover{
    color: red;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding-top: 20px;
}

.social img{
    width: 2%;
    padding-left: 12px;
}

@media only screen and (min-width:688px) and (max-width:992px) {


    .container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-text{
        display:inline;
        font-size: 12px;
        width: 55%;
    }
    .header-description{
        font-size: 10px;
    }

    .hidden-button{
        display: flex;
        justify-content: center;
        grid-column: 5;
        margin-top: 50px;
    }
    .leftbar{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        justify-content: center;
        flex-direction: row;
        background-color: lightgray;
        width: 80%;
        margin-bottom: 20px;
    }
    .leftbar a{
        margin-left: 5px;
    }
    .transfers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header{
        margin-bottom: 5px;
    }

    .footer-flex{
        display: flex;
        flex: 3;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        align-items: center;
        width: 65%;
    }
    .footer-outer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .child {
        flex: 1;
        flex-basis: 20%;
        margin: 2px;
      }
      .child2 {
        flex-basis: 40%;
        margin: 2px;
      }
    .header-text{
        display: inline;
    }
}
@media only screen and (max-width:688px) {
    .container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-text{
        display:inline;
        font-size: 12px;
        width: 55%;
    }
    .header-description{
        font-size: 10px;
    }

    .hidden-button{
        display: flex;
        justify-content: center;
        grid-column: 5;
        margin-top: 50px;
    }
    .leftbar{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        flex-direction: row;
        background-color: lightgray;
        width: 80%;
        margin-bottom: 20px;
    }
    .leftbar a{
        margin-left: 5px;
    }
    .transfers{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        padding-left: 0px;
    }

    .footer-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        align-items: center;
        width: 53%;
    }

    .footer-outer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .header-text{
        display: inline;
    }

    .header-image img{
        width: 100%;
        margin-bottom: -6px;
    }
    
    .header-image{
        width: 75%;
        position: relative;
    }
    .header-text{
        text-align: center;
    }
    .header-description{
        display:flex;
        text-align: center;
    }
}